/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered-form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 100%; /* You can adjust the width as necessary */
    margin-bottom: 10px; /* Spacing between each form-group */
}

.control-label, .form-control {
    width: 100%; /* Full width of the form-group */
    margin-bottom: 5px; /* Spacing between label and input field */
}
